@font-face {
    font-family: 'SchoolSafetyManitto';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimManitoR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
*{
margin: 0;
padding: 0;
font-size: 0;
}

.bg{
    width: 100vw;
    height: 100vh;
    background-color: #FEABEA;
}

.logo{
    padding-left: 38px;
    padding-top: 38px;
}
.gb{
    padding-left: 42px;
}
.abt{
    padding-left: 42px;
}
.start{
    padding-left: 95px;
}

.back{
    width: 100%;
    height: 5000px;
    background-color: #FEABEA;
}

.vd{
    width: 430px;
    height: 360px;
    margin: 0 auto;
}
.vd video{
    width: 100%;
    height: 100%;
}

.img01{
    width: 430px;
    height: 344px;
}
.f1{
    width: 371px;
    height: 304px;
    padding-top: 32px;
    padding-left: 24px;
}
.txt1{
    width: 248px;
    height: 35px;
    font-size: 22px;
    font-family: 'SchoolSafetyManitto';
    color: #E22B85;
    text-shadow:  
        -4px 0px 0 #FFFFFF, 4px 0px 0 #FFFFFF,
        0px -4px 0 #FFFFFF, 0px 4px 0 #FFFFFF,
        -3px -3px 0 #FFFFFF, 3px -3px 0 #FFFFFF,
        -3px 3px 0 #FFFFFF, 3px 3px 0 #FFFFFF,
        -4px -2px 0 #FFFFFF, -4px 2px 0 #FFFFFF,
        4px -2px 0 #FFFFFF, 4px 2px 0 #FFFFFF,
        -2px -4px 0 #FFFFFF, 2px -4px 0 #FFFFFF,
        -2px 4px 0 #FFFFFF, 2px 4px 0 #FFFFFF;
}
.box1{
    width: 371px;
    display: flex;
    align-items: center;
    gap: 1px;
}
.txt2{
    width: 381px;
    height: 35px;
    padding-top: 8px;
    font-size: 15px;
    font-family: 'SchoolSafetyManitto';
    color: #E22B85;
    text-shadow:  
        1px 1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px -1px 0 #FFFFFF,
        -1px -1px 0 #FFFFFF;
}

.mox1{
    width: 100%;
    height: 387px;
    background-color: #FFF0F0;
    border-top: dashed 4px #6E5159;
}

.mox2{
    margin-top: 38px;
    margin-left: 27px;
    width: 370px;
    height: 315px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: dashed 4px #6E5159;
}

.rxr1{
    width: 316px;
    margin-top: 28px;
    margin-left: 27px;
    font-size: 24px;
    font-family: 'SchoolSafetyManitto';
    color: black;
}
.mox3{
    width: 100%;
    height:  326px;
    background-color: #FFF0F0;
    border-top: dashed 4px #6E5159;
}

.mox4{
    margin-top: 22px;
    margin-left: 27px;
    width: 368px;
    height: 262px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: dashed 4px #6E5159;
}

.rxr2{
    width: 314px;
    margin-top: 28px;
    margin-left: 27px;
    font-size: 24px;
    font-family: 'SchoolSafetyManitto';
    color: black;
}

.mox5{
     width: 100%;
    height:  326px;
    background-color: #FFF0F0;
    border-top: dashed 4px #6E5159;
}

.mox6{
    margin-top: 23px;
    margin-left: 23px;
    width: 378px;
    height: 269px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: dashed 4px #6E5159;
}

.rxr3{
    width: 319px;
    margin-top: 35px;
    margin-left: 33px;
    font-size: 24px;
    font-family: 'SchoolSafetyManitto';
    color: black;
}

.mox7{
    width: 100%;
    height:  325px;
    background-color: #E9E3FA;
    border-top: dashed 4px #6E5159;
}

.mox8{
    margin-top: 32px;
    margin-left: 23px;
    width: 378px;
    height: 269px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: dashed 4px #6E5159;
}

.rxr4{
    width: 319px;
    margin-top: 35px;
    margin-left: 33px;
    font-size: 24px;
    font-family: 'SchoolSafetyManitto';
    color: black;
}

.mox9{
    width: 100%;
    height:  322px;
    background-color: #E2F0FE;
    border-top: dashed 4px #6E5159;
}
.mox10{
    margin-top: 32px;
    margin-left: 23px;
    width: 378px;
    height: 269px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: dashed 4px #6E5159;
}
.rxr5{
    width: 319px;
    margin-top: 35px;
    margin-left: 33px;
    font-size: 24px;
    font-family: 'SchoolSafetyManitto';
    color: black;
}

.mox11{
    width: 100%;
    height:  324px;
    background-color: #FFF6E7;
    border-top: dashed 4px #6E5159;
}

.mox12{
    margin-top: 32px;
    margin-left: 23px;
    width: 378px;
    height: 269px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: dashed 4px #6E5159;
}

.rxr6{
    width: 305px;
    margin-top: 35px;
    margin-left: 33px;
    font-size: 24px;
    font-family: 'SchoolSafetyManitto';
    color: black;
}

.mox13{
    background-color: #FEABEA;
    width: 100%;
    height: 768px;
}

.img7{
    margin: 0 auto;
    padding-top: 55px;
    width: 340px;
    height: 574px;
}